@media only screen and (max-width: 1180px) {

	.row {
		padding: 0 2%;
	}

}


@media only screen and (max-width: 1024px) {

	/*-- Header --*/

	.header .top-row .col-1 {
	    width: 35%;
	}

	.header .top-row .col-2 {
	    width: 43%;
	}

	/*-- /Header --*/

	.catalog-thumbnails .desrcipt h3 {
		font-size: 22px;
		line-height: 23px;
	}

	/*-- Footer --*/

	.footer .logo-block {
	    width: 30%;
	}

	.seo-text-block {
	    width: 60%;
	    padding: 0 0 0 1%;
	}

	.seo-text li {
	    padding: 5px 9px;
	}

	.seo-text li:first-child {
	    padding: 5px 9px;
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 768px) {

	/*-- Header --*/

	.header {
		display: block;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;
		box-shadow: 0 9px 9px -5px rgba(0, 0, 0, .3);
	}

	.header .top-row .col-1 {
	    width: 50%;
	}

	.logo-block {
	    width: 68%;
	    max-width: 358px;
	    padding: 0 1% 0 0;
	}

	.resp-btn-block {
	    display: inline-block;
	    vertical-align: middle;
	    width: 32%;
	}

	.header .top-row .col-2 {
	    width: 25%;
	}

	.header .top-row .col-3 {
	    width: 25%;
	}

	.resp-nav {
		/*display: block;*/
		display: none;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		padding: 5px 0 20px 0;
		z-index: 3;
	}

	.resp-nav.row-2 {
		background: rgba(243, 246, 251, .97);
	}

	.header .row-2 .col {
	    display: block;
	    float: none;
	    width: 100%;
	    padding: 7px 0;
	}

	.header .row-2 .col-1 {
	    float: none;
	    text-align: left;
	}

	.header .row-2 .col-2 {
	    float: none;
	}

	.search {
	    max-width: 100%;
	}

	.main-nav li {
	    width: 100%;
	}

	.main-nav li a:link,
	.main-nav li a:visited,
	.main-nav li a.active,
	.main-nav li a:active,
	.main-nav li a.active:hover {
		display: block;
		width: 100%;
		margin: 0;
		padding: 12px 2%;
		border-bottom: none;
	}

	.main-nav li a:active,
	.main-nav li a.active:hover,
	.main-nav li a:hover {
	    color: #ffffff;
	    background: rgba(104, 146, 212, 1);
	}

	/*-- /Header --*/

	.thumbnails.three-thumbnail .thumbnail {
	    width: 50%;
	}

	/*-- Footer --*/

	.footer .col-1 {
		width: 100%;
	}

	.footer .logo-block {
		display: none;
	}

	.seo-text-block {
	    width: 100%;
	    padding: 0;
	}

	.seo-text {
		width: 100%;
	}

	.seo-text li {
		width: 100%;
		text-align: center;
	}

	.footer .col-2 {
	    width: 100%;
	    text-align: center;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

	h2 {
	    font-size: 29px;
	    line-height: 36px;
	}

}



@media only screen and (max-width: 480px) {

	h2 {
	    font-size: 27px;
	    line-height: 32px;
	}

	/*-- Header --*/

	.header .col {
	    padding: 2px 0;
	}

	.header .top-row .col-1 {
	    width: 100%;
	}

	.logo-block {
	    display: inline-block;
	    vertical-align: middle;
	    width: 60%;
	    max-width: 231px;
	}

	.resp-btn-block {
		width: 40%;
	}

	.header .top-row .col-2,
	.header .top-row .col-3 {
	    width: 50%;
	}

	.sign-in {
	    padding: 8px 1%;
	}

	/*-- /Header --*/

	.thumbnails.three-thumbnail .thumbnail {
	    width: 96%;
	    display: block;
	    margin: 0 auto;
	}

}


@media only screen and (min-width: 769px) {

	body {
		padding-top : 0 !important;
	}

	/*-- Header --*/

	.resp-nav {
		display: block !important;
		top: 0 !important;
		height: auto !important;
	}

	/*-- /Header --*/

}

